
  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listagem de Jogos</title>
  <style>
      body {
          text-align: center;
          font-family: "Ubuntu", sans-serif;
      }
      h1 {
          margin-top: 20px;
      }
      .game-card {
          border: 3px solid #ccc;
          border-radius: 8px;
          padding: 10px;
          margin: 10px;
          text-align: center;
          display: inline-block;
          height: 550px;
          width: 250px;
          box-sizing: border-box;
          vertical-align: top;
          background-color: #f2f2f2;
          overflow: hidden;
      }
      .game-image {
          border: 3px solid #000000;
          width: 150px;
          height: 200px;
          object-fit: cover;
          border-radius: 8px;
      }
      .game-info {
          font-family: "Ubuntu", sans-serif;
          margin-top: 10px;
      }
      .download-button {
          display: inline-block;
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 5px;
          cursor: pointer;
          margin-top: 10px;
      }
      .download-button:hover {
          background-color: #45a049;
      }

      .action-button {
        background-color: #45a049;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
    }

    .action-button:hover {
        background-color: #005F7F;
    }

  </style>
  </head>
  <body>
      <h1>Listagem de Jogos</h1>

      <div>
        <button class="action-button" id="order">Order</button>
        <button class="action-button" id="upload">Upload</button>
        <button class="action-button" id="logout">Logout</button>
    </div>


      <% games.forEach((game, index) => { %>
          <div class="game-card">
              <h2><%= game.name %></h2>
              <% if (game.image) { %>
                  <img class="game-image" src="http://localhost:3000/images/<%= game.image%>" alt="<%= game.name %>">
                  <br>
                  <a class="download-button" href="http://localhost:3000/images/<%= game.image%>" download="<%= game.name %>">Download Imagem</a>
              <% } %>
              <p class="game-info">Preço: <%= "R$"+game.price %></p>
              <p class="game-info">Plataforma: <%= game.platform %></p>
              <p class="game-info">Classificação Etária: <%= game.ageRating %></p>
              <p class="game-info">Gênero: <%= game.genre %></p>
              <div style="height: 150px; overflow-y: auto;">
              </div>
          </div>
          <% if ((index + 1) % 5 === 0) { %>
              <br>
          <% } %>
      <% }); %>
  </body>
  </html>
